@charset "UTF-8";
/*
    Paleta de Cores
    Cinzas: #242425;
    Dourado: #816034;
*/

/* Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px

*/


:root {
    --Cor1: #242425;
    --Cor2: #816034;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--Cor1);
    height: 100vh;
    width: 100vw;
}

div > label {
    font-size: 14px;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;


    background-color: white;
    width: 250px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    
    transform: translate(-50%,-50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    
}

section#login > div#imagem {
display: block;
background: var(--Cor1) url(../imagens/pexels-jcmotive-237270259-29338687.jpg) no-repeat;
background-size: cover;
background-position: center center;
height: 200px;

transition: .5s;
height: 200px;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

form > div.credenciais {
    background-color: #242425;
    border: 2px solid #242425;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.credenciais > span {
    color: white;
    width: 40px;
    padding: 5px;
    font-size: 1.9em;
}

div.credenciais > input {
    background-color: var(--Cor1);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.credenciais > label {
    display: none;
}

div.credenciais > input:focus-within {
    background-color: white;
    border: none;                           
}


form > div.interatividade > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(78, 78, 78);
    color:white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > div.interatividade > input[type=submit]:hover {
    background-color: rgb(0, 0, 0);
}

form > div.interatividade > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 8px;
    text-decoration: none;
}